.hide {
    display: none;
}

.tooltip_container {
    background-color: #F3F3F3;
    border-radius: 6px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
    font-size: 12px;
    position: absolute;
    padding: 5px;
}
